.user-post {
  background-color: #f2f2f2;
}

.user-post__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: @text-color;
}

.user-post__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: @text-color;
  text-transform: uppercase;
}

.user-post__comment {
  font-size: 14px;
  line-height: 24px;
  color: @text-color;
}

.user-post__like {
  font-size: 12px;
  line-height: 24px;
  color: @text-color-secondary;
  text-transform: uppercase;
}
