.contacts__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #283645;
}

.contacts__list {
  .list-reset();

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.contacts__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #283645;
}

.contacts__inner {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #d22856;
}

.contacts__item {
  @media (min-width: @tablet-width) {
    width: 300px;
  }
}
