.page-main__title-wrap {
  background-color: #283645;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 462px;
}

.page-main__title {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}
