.photo-editor__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @text-color;
  text-align: center;
}

.photo-editor__wrap {
  background-color: #f2f2f2;
}

.photo-editor__panel {
  width: 280px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 620px;

    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    justify-content: center;
  }
}

.photo-editor__tool-panel {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.photo-editor__confirm-panel {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}
