.field-text__text {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.field-text__input {
  width: 200px;
  height: 30px;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    opacity: 1;
  }
}
