.site-list {
  .list-reset();

  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    min-height: 110px;
    flex-direction: row;
  }
}

.site-list__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.site-list__item {
  @media (min-width: @desktop-width) {
    margin-right: 10px;
  }
}
