.contest-form__title {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.contest-form__legend {
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
}

.contest-form__achievments {
  background-color: #f2f2f2;
}

.contest-form__os-type {
  background-color: #f2f2f2;
}

.contest-form__note {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;
}

.contest-form__mark {
  color: #d22856;
}
