.reviews {
  width: 280px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.reviews__list {
  .list-reset();
}

.reviews__quote {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__author {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #000000;

  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.reviews__author-prof {
  font-size: 14px;
  line-height: 30px;
  color: @text-color;

  @media (min-width: @tablet-width) {
    order: 3;
  }
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  color: @text-color;
}

.reviews__toggles {
  align-self: center;

  @media (min-width: @desktop-width) {
    display: none;
  }
}
