.price {
  background-color: #f2f2f2;
}

.price__wrap {
  width: 280px;
  margin: 0 auto;

  overflow: hidden;
}

.price__table {
  width: 1120px;
  border-collapse: collapse;
  transform: translateX(-280px);
}

.price__value {
  width: 280px;
}

.price__package {
  border: 2px solid #e5e5e5;
  background-color: #283645;
}

.price__package--empty {
  visibility: hidden;
  border: none;
}

.price__package-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.price__package-cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.price__value {
  font-size: 14px;
  line-height: 30px;
  color: @text-color;
  text-transform: uppercase;
}

.price__table-body td {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .price__wrap {
    width: 620px;
    margin: 0 auto;

    overflow: visible;
  }

  .price__table {
    width: 100%;
    transform: translateX(0);
  }

  .price__value--empty {
    font-size: 0;
  }
}

@media (min-width: @desktop-width) {
  .price__wrap {
    width: 940px;
  }
}
