.advantages__list {
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
  .list-reset();
}

.advantages__text {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
}

.advantages__item-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.advantages__item-text {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
